/* Responsive Design */
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--secondary-color);
    }

    .menu li {
        margin: 1rem 0;
    }

    .menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }

    .section-container {
        flex-direction: column;
    }

    .section-container.reverse {
        flex-direction: column;
    }

    .contact-container {
        flex-direction: column;
    }
/* 
    section::before, section::after {
        visibility: hidden;
    } */
}